#root {
  margin: 0 15px;
  background-color: #242424;
}

.signup-inputs {
  display: flex;
  flex-direction: column;
}
.signup-inputs label {
  margin-bottom: 10px;
}
.signup-inputs input {
  padding: 10px;
}
.nav-img {
  border-radius: 50px;
}

/* Abre navbar menu */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navbar .brand {
  font-size: 1.5em;
}

.navbar .link,
.menu .menu-item {
  color: #fff;
  text-decoration: none;
  padding: 8px 15px;
}

.burger {
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  background-color: #333;
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 1000;
}

.menu .close-button {
  align-self: flex-end;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

.menu .menu-item {
  padding: 10px 0;
  font-size: 1.2em;
}
/* Cierra navbar menu */

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}
.movie-poster {
  width: 200px;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.movie-poster img {
  border-radius: 5px;
}
.review-form {
  display: flex;
  flex-direction: column;
}
.rating {
  display: flex;
  flex-direction: column;
}
.rating input {
  margin-bottom: 10px;
  width: fit-content;
}
.review {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.slick-dots {
  display: none !important;
}
.actor-photo {
  width: 200px;
  height: 300px;
  object-fit: cover;
}
.actor-card {
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-text {
  display: flex;
  flex-direction: column;
}
.title-sinopsis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.details-title {
  border: 1px yellowgreen solid;
  border-radius: 10px;
  color: yellow;
}
.reviews-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.movie-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.personal-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
