#root {
  margin: 0 auto;

  background-color: #242424;
}
nav {
  display: flex;
  justify-content: space-between;
  border: wheat solid 1px;
  border-radius: 10px;
  align-items: center;
}
nav img {
  border-radius: 50px;
}
.no-underline {
  text-decoration: none;
  color: white;
}
